{% extends 'vote/base.html' %}
{% block content %}        
    <div class="container">
    <div class="col-md-12">
         <h3>{{title}}</h3>
         {% for candidate in candidates %}
         <div class="col-md-4">
          <img src="{{candidate.c_image.url}}" class="img-responsive">
          <p><b>Name: </b> {{candidate.first_name}} {{candidate.middle_name}} {{candidate.last_name}}</p>
        <p><b>Date of birth: </b> {{candidate.dob}}</p>
          <p><b>Party Affiliate: </b>{{candidate.party_affiliate}}</p>
            
            <button type="sumbit" type="button" class="btn btn-info"><a href="{% url 'vote:candidates_detail' candidate.c_id %}">More</a></button>
             
         </div>
           {% endfor %}
          
         
          
    </div>
{% endblock %}
   
    </div>
